{% macro torrents_table(torrents) %}
    <div class="row">
        {% for data in torrents %}
        <div class="large-2 columns small-3"><i title="{{ data.torrent.category }}" class="{{ data.categoryIcon }} fa-2x"></i></div>
        <div class="large-10 columns">
            <p><strong>
                <a href="{{ path('details', {'tracker': data.torrent.tracker, 'slug': data.torrent.slug}) }}">{{ data.torrent.title }}</a>
            </strong></p>
            <div class="row">
                <div class="column large-6">
                    <strong>{{ data.torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</strong>
                </div>
                <div class="column large-6">
                    <div class="row">
                        <div class="column large-6">
                            <i class="fa fa-arrow-up"></i>
                            <span class="seeders">{{ data.torrent.seeds }}</span>
                        </div>
                        <div class="column large-6">
                            <i class="fa fa-arrow-down"></i>
                            <span class="leechers">{{ data.torrent.leechs }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        {% endfor %}
    </div>
{% endmacro %}

{% macro torrents_table_mobile(torrents) %}
    <ul class="torrent-list-mobile">
        {% for data in torrents %}
            <li class="row">
                <i class="center column small-1 {{ data.categoryIcon }} fa-2x"></i>
                <div class="column small-10">
                    <strong>{{ data.torrent.title | title }}</strong>
                    <ul class="row">
                        <li class="column small-4">{{ data.torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</li>
                        <li class="column small-6">
                            <ul class="row">
                                <li class="column small-7"><i class="fa fa-arrow-up"></i> {{ data.torrent.seeds }}</li>
                                <li class="column small-5"><i class="fa fa-arrow-down"></i> {{ data.torrent.leechs }}</li>
                            </ul>
                    </ul>
                </div>
                <a class="center text-right column small-1" href="{{ path('details', {'tracker': data.torrent.tracker, 'slug': data.torrent.slug}) }}">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>

        {% endfor %}
    </ul>
{% endmacro %}

{% macro makePaginationLinkTag(previousPage, nextPage, nbMaxPages, hrefPrevious, hrefNext) %}
    {% if(previousPage == 0) %}
        <link rel="next" href="{{ hrefNext }}">
    {% elseif(nextPage >= nbMaxPages) %}
        <link rel="prev" href="{{ hrefPrevious }}">
    {% else %}
        <link rel="prev" href="{{ hrefPrevious }}">
        <link rel="next" href="{{ hrefNext }}">
    {% endif %}
{% endmacro %}