{% macro torrents_table(torrents) %}
    <div class="table-container row">
        <div class="column small-12">
            <table class="column small-12">
                <thead>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Taille</th>
                <th>Seeders</th>
                <th>Leechers</th>
                <th>Tracker</th>
                </thead>
                {% for data in torrents %}
                    <tr>
                        <td class="text-center"><i title="{{ data.torrent.category }}" class="{{ data.categoryIcon }} fa-2x"></i></td>
                        <td><a href="{{ path('details', {'tracker': data.torrent.tracker, 'slug': data.torrent.slug}) }}">{{ data.torrent.title }}</a></td>
                        <td>{{ data.torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</td>
                        <td><i class="fa fa-arrow-up"></i>{{ data.torrent.seeds }}</td>
                        <td><i class="fa fa-arrow-down"></i>{{ data.torrent.leechs }}</td>
                        <td><img alt="{{ data.torrent.tracker }}" title="{{ data.torrent.tracker }}" src="{{ asset('bundles/app/image/'~ data.torrent.tracker ~'-thumb.jpg' ) }}"/></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}

{% macro torrents_table_mobile(torrents) %}
    <div class="table-container row">
        <div class="column small-12">
            <table class="column small-12">
                <thead>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Taille</th>
                <th>Seeders</th>
                </thead>
                {% for data in torrents %}
                    <tr>
                        <td class="text-center"><i title="{{ data.torrent.category }}" class="{{ data.categoryIcon }} fa-2x"></i></td>
                        <td><a href="{{ path('details', {'tracker': data.torrent.tracker, 'slug': data.torrent.slug}) }}">{{ data.torrent.title }}</a></td>
                        <td>{{ data.torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</td>
                        <td><i class="fa fa-arrow-up"></i>{{ data.torrent.seeds }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}