{% macro torrents_table(torrents) %}
    <div class="table-container row">
        <div class="column small-12">
            <table class="column small-12">
                <thead>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Taille</th>
                <th>Seeders</th>
                <th>Leechers</th>
                <th>Tracker</th>
                </thead>
                {% for data in torrents %}
                    <tr>
                        <td class="text-center"><i title="{{ data.torrent.category }}" class="{{ data.categoryIcon }} fa-2x"></i></td>
                        <td><a href="{{ path('details', {'tracker': data.torrent.tracker, 'slug': data.torrent.slug}) }}">{{ data.torrent.title }}</a></td>
                        <td>{{ data.torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</td>
                        <td><i class="fa fa-arrow-up"></i>{{ data.torrent.seeds }}</td>
                        <td><i class="fa fa-arrow-down"></i>{{ data.torrent.leechs }}</td>
                        <td><img alt="{{ data.torrent.tracker }}" title="{{ data.torrent.tracker }}" src="{{ asset('bundles/app/image/'~ data.torrent.tracker ~'-thumb.jpg' ) }}"/></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}

{% macro torrents_table_mobile(torrents) %}
    <ul class="torrent-list-mobile">
        {% for data in torrents %}
            <li class="row">
                <i class="center column small-1 {{ data.categoryIcon }} fa-2x"></i>
                <div class="column small-10">
                    <strong>{{ data.torrent.title | title }}</strong>
                    <ul class="row">
                        <li class="column small-4">{{ data.torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</li>
                        <li class="column small-6">
                            <ul class="row">
                                <li class="column small-7"><i class="fa fa-arrow-up"></i> {{ data.torrent.seeds }}</li>
                                <li class="column small-5"><i class="fa fa-arrow-down"></i> {{ data.torrent.leechs }}</li>
                            </ul>
                    </ul>
                </div>
                <a class="center text-right column small-1" href="{{ path('details', {'tracker': data.torrent.tracker, 'slug': data.torrent.slug}) }}">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>

        {% endfor %}
    </ul>
{% endmacro %}

{% macro makePaginationLinkTag(previousPage, nextPage, nbMaxPages, hrefPrevious, hrefNext) %}
    {% if(previousPage == 0) %}
        <link rel="next" href="{{ hrefNext }}">
    {% elseif(nextPage >= nbMaxPages) %}
        <link rel="prev" href="{{ hrefPrevious }}">
    {% else %}
        <link rel="prev" href="{{ hrefPrevious }}">
        <link rel="next" href="{{ hrefNext }}">
    {% endif %}
{% endmacro %}