{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Résultats: {{ query }}{% endblock %}

{% block body %}
    <h1>Résultats pour "{{ query }}"</h1>
    {{ macros.torrents_table(torrents) }}

    <div class="pagination-centered">
        <ul class="pagination">
            {% if previousPage == 0 %}
                <li class="unavailable arrow"><span>&laquo;</span></li>
            {% else %}
                <li class="arrow"><a href="{{ path('search', {'query': query, 'offset': previousPage}) }}">&laquo;</a></li>
            {% endif %}
            {%  for page in pages %}
                {% if page == 0 %}
                    <li class="unavailable"><span>&hellip;</span></li>
                {% else %}
                    <li><a href="{{ path('search', {'query': query, 'offset': page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if nextPage > nbMaxPages %}
                <li class="unavailable arrow"><span>&raquo;</span></li>
            {% else %}
                <li class="arrow"><a href="{{ path('search', {'query': query, 'offset': nextPage}) }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>


{% endblock %}
