{% extends 'base.html.twig' %}
{% import  'macros.html.twig' as macros %}

{% block title %} Torrent de {{ formattedTitle | title }} à telecharger {% endblock %}

{% block head %}
    <meta name="description" content="Téléchargez {{ torrent.title }} ainsi que d'autres torrents"/>
{% endblock %}

{% block body %}

    <div class="row full-width">

        <div class="large-3 columns">
            {{ render(controller('WebsiteBundle:Default:leftMenu')) }}
        </div>

        <div class="column large-7">
            <h1>{{ torrent.title }}</h1>
            <ul class="pricing-table">
                <li class="title">Détails</li>
                <li class="price">{{ torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</li>
                <li class="description">Tracker: {{ torrent.tracker }}</li>
                <li class="bullet-item">Catégorie: {{ torrent.category }}</li>
                <li class="bullet-item">{{ torrent.seeds }} seeders</li>
                <li class="bullet-item">{{ torrent.leechs }} leechers</li>
                <li class="description"><span>Lien original: </span><a href="{{ torrent.url }}">{{ torrent.url }}</a></li>
                <li class="cta-button"><a rel="no-follow" href="{{ torrent.downloadLink }}" class="button" download>Télécharger</a></li>
            </ul>

            <hr/>

            <div class="torrents-similar">
                <h2>Ces fichiers peuvent vous intéresser:</h2>
                {{ macros.torrents_table(similarTorrents) }}
            </div>
        </div>

        <div class="column large-2">
            <script src="http://www.pubdirecte.com/script/banniere.php?id=103893&ref=69514"></script>
            <script src="http://www.pubdirecte.com/script/pop.php?id=103599&ref=69514"></script>
            <table border="0" cellpadding="2" cellspacing="0"  bgcolor="#6566ff">
                <tr><td style="font-family: Verdana, Arial;font-size: 10px;font-weight: bold;color: #000000; text-decoration:none;" align="center"><a href="http://www.pubdirecte.com" style="font-family: Verdana, Arial;font-size: 10px;font-weight: bold;color: #000000; text-decoration:none;">Régie publicitaire</a> Pubdirecte</td></tr>
                <tr><td align="center"><a href="http://www.pubdirecte.com" style="font-family: Verdana, Arial;font-size: 10px;font-weight: normal;color: #FFFFFF;text-decoration:underline;">Votre site en popunder ici</a></td></tr>
                </td></tr>
            </table>
        </div>
    </div>

{% endblock %}
