{% extends 'base.html.twig' %}

{% block body %}
    <div class="table-container row">
        <div class="column small-12">
            <table class="column small-12">
                <thead>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Taille</th>
                <th>Seeders</th>
                <th>Leechers</th>
                <th>Tracker</th>
                </thead>
                {% for torrent in torrents %}
                    <tr>
                        <td class="text-center"><i title="{{ torrent.category }}" class="{{ categoryIcon }} fa-2x"></i></td>
                        <td><a href="/torrent/{{ torrent.tracker }}/{{ torrent.slug }}">{{ torrent.title }}</a></td>
                        <td>{{ torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</td>
                        <td><i class="fa fa-arrow-up"></i><span>{{ torrent.seeds }}</span></td>
                        <td><i class="fa fa-arrow-down"></i><span>{{ torrent.leechs }}</span></td>
                        <td><img src="{{ asset('bundles/app/image/'~ torrent.tracker ~'-thumb.jpg' ) }}"/></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="pagination-centered">
        <ul class="pagination">
            {% if previousPage == 0 %}
                <li class="unavailable arrow"><span>&laquo;</span></li>
            {% else %}
                <li class="arrow"><a href="{{ path('torrentsPerCategory', {'category': 'movie', 'offset': previousPage}) }}">&laquo;</a></li>
            {% endif %}
            {%  for page in pages %}
                {% if page == 0 %}
                    <li class="unavailable"><span>&hellip;</span></li>
                {% else %}
                    <li><a href="{{ path('torrentsPerCategory', {'category': 'movie', 'offset': page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if nextPage > nbMaxPages %}
                <li class="unavailable arrow"><span>&raquo;</span></li>
            {% else %}
                <li class="arrow"><a href="{{ path('torrentsPerCategory', {'category': 'movie', 'offset': nextPage}) }}">&laquo;</a></li>
            {% endif %}
        </ul>
    </div>


{% endblock %}
