<div class="row">
    <div class="column small-12">
        <div>
            <form action="{{ path('search') }}" method="GET">
                <div class="row collapse">
                    <div class="small-11 columns">
                        <input type="text" class="no-clear search-typeahead typeahead mobile-form" placeholder="Wrong Turn 6, 12 years a slave..." name="query"/>
                    </div>
                    <div class="small-1 columns">
                        <button type="submit" class="btn-mobile button radius postfix"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="torrents2transmission-mobile panel radius">
    <h4>Téléchargez vos torrents en toute simplicité grâce à l'application mobile</h4>
    <a class="button secondary" href="{{ path('torrents2transmission') }}">Plus d'infos</a>
</div>
<nav id="categories" class="row">
    <ul class="inline-list">
        <li><a class="fa fa-home fa-3x" href="{{ path('homepage') }}"></a></li>
        <li><a class="fa fa-film fa-3x" href="{{ path('torrentsPerCategory', {'category': 'movie', 'offset': 1}) }}"></a></li>
        <li><a class="fa fa-desktop fa-3x" href="{{ path('torrentsPerCategory', {'category': 'serie', 'offset': 1}) }}"></a></li>
        <li><a class="fa fa-music fa-3x" href="{{ path('torrentsPerCategory', {'category': 'music', 'offset': 1}) }}"></a></li>
        <li><a class="fa fa-gamepad fa-3x" href="{{ path('torrentsPerCategory', {'category': 'game', 'offset': 1}) }}"></a></li>
        <li><a class="fa fa-windows fa-3x" href="{{ path('torrentsPerCategory', {'category': 'application', 'offset': 1}) }}"></a></li>
        <li><a class="fa fa-book fa-3x" href="{{ path('torrentsPerCategory', {'category': 'ebook', 'offset': 1}) }}"></a></li>
    </ul>
</nav>
