{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block head %}
    {% if(nbMaxPages > 1) %}
        {{ macros.makePaginationLinkTag(previousPage, nextPage, nbMaxPages, path('search', {'query': query, 'offset': previousPage}), path('search', {'query': query, 'offset': nextPage})) }}
    {% endif %}
    <meta name="description" content="Téléchargez les torrents correspondant à {{ query }}"/>
{% endblock %}

{% block title %} Torrents correspondant à {{ query }}{% endblock %}

{% block body %}
    <h1>Résultats pour "{{ query }}"</h1>

    {{ macros.torrents_table_mobile(torrents) }}

    <div class="pagination-centered mobile-pagination">
        <ul class="pagination">
            {% if previousPage == 0 %}
                <li class="unavailable arrow column small-5"><span>&laquo; Précédent</span></li>
            {% else %}
                <li class="arrow column small-5"><a href="{{ path('search', {'query': query, 'offset': previousPage}) }}">&laquo; Précédent</a></li>
            {% endif %}
            {% if nextPage > nbMaxPages %}
                <li class="unavailable arrow column small-5"><span>Suivant &raquo;</span></li>
            {% else %}
                <li class="arrow column small-5"><a href="{{ path('search', {'query': query, 'offset': nextPage}) }}">Suivant &raquo;</a></li>
            {% endif %}
        </ul>
    </div>


{% endblock %}
