{% extends 'base.html.twig' %}
{% import  'macros.html.twig' as macros %}

{% block title %} {{ parent() }} - {{ categoryName }}{% endblock %}

{% block body %}
    <h1>{{ categoryName }}</h1>

    {{ macros.torrents_table_mobile(torrents) }}

    <div class="pagination-centered mobile-pagination">
        <ul class="pagination">
            {% if previousPage == 0 %}
                <li class="unavailable arrow column small-5"><span>&laquo; Précédent</span></li>
            {% else %}
                <li class="arrow column small-5"><a href="{{ path('torrentsPerCategory', {'category': category, 'offset': previousPage}) }}">&laquo; Précédent</a></li>
            {% endif %}

            {% if nextPage > nbMaxPages %}
                <li class="unavailable arrow column small-5"><span>Suivant &raquo;</span></li>
            {% else %}
                <li class="arrow column small-5"><a href="{{ path('torrentsPerCategory', {'category': category, 'offset': nextPage}) }}">Suivant &raquo;</a></li>
            {% endif %}
        </ul>
    </div>


{% endblock %}
