{% extends 'base.html.twig' %}
{% import  'macros.html.twig' as macros %}

{% block title %} Torrent de {{ formattedTitle | title }} à télécharger {% endblock %}

{% block body %}
    <h1 class="download-title">{{ torrent.title }}</h1>
    <ul class="pricing-table">
        <li class="title">Détails</li>
        <li class="price">{{ torrent.size | replace({'Mo':'MB', 'Go':'GB', 'Ko':'KB', 'Mb': 'MB', 'Gb': 'GB', 'Kb':'KB'}) }}</li>
        <li class="description">Tracker: {{ torrent.tracker }}</li>
        <li class="bullet-item">Catégorie: {{ torrent.category }}</li>
        <li class="bullet-item">{{ torrent.seeds }} seeders</li>
        <li class="bullet-item">{{ torrent.leechs }} leechers</li>
        <li class="description"><span>Lien original: </span><a href="{{ torrent.url }}">{{ torrent.url }}</a></li>
        <li class="cta-button"><a rel="no-follow" href="{{ torrent.downloadLink }}" class="button" download>Télécharger</a></li>
    </ul>

    <div class="torrents-similar">
        <h2>Ces fichiers peuvent vous intéresser:</h2>
        {{ macros.torrents_table_mobile(similarTorrents) }}

    </div>

{% endblock %}
